li {
	
	padding: 20px;
}
.trash {
	height: 60px;
	text-align: center;
	width: 60px;
	float: right;
}
.done {
	color:gray;
	text-decoration: line-through;
}

body{
	background-image: url("images/cube-g04f5df922_1280.png");
        height: 100vh;
}